<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../../../vendor/assets/stylesheets/foundation.css" type="text/css">
  <link rel="stylesheet" href="static.css" type="text/css">
</head>
<body>
  <div id="body-overlay">

    <div class="row" id="progress-indicator">
      <hr>
      <div class="large-3 large columns">
        <div class="outline-circle">
          <img src="img/location.png">
        </div> <!-- .outline-circle -->
      </div> <!-- .large-2.columns -->

      <div class="large-3 large columns">
        <div class="outline-circle">
          <img src="img/three.png">
        </div> <!-- .outline-circle -->
      </div> <!-- .large-2.columns -->

      <div class="large-3 large columns">
        <div class="outline-circle">
          <img src="img/interface.png">
        </div> <!-- .outline-circle -->
      </div> <!-- .large-2.columns -->

      <div class="large-3 large columns">
        <div class="outline-circle">
          <img src="img/paper.png">
        </div> <!-- .outline-circle -->
      </div> <!-- .large-2.columns -->
    </div> <!-- .row#front-page-heading -->

  </div>

<script src="../../../vendor/assets/javascripts/jquery.js"></script>
<script src="../../../vendor/assets/javascripts/foundation.js"></script>
</body>
</html>
