body {
  background-image: url('img/tent1.jpg');
  background-size: cover;
  background-position: 0px -100px, center;

  #body-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;

    #front-page-heading {
      margin-top: 100px;
      text-align: center;

      h1, h4 {
        color: white;
        font-family: 'Montserrat', sans-serif;
      }
    }

    #process-explanation {
      width: 80%;
      text-align: center;
      color: white; 

      img {
        width: 60px;
      }
    }
  }
}